<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/details.css">
    <link rel="stylesheet" href="/js/element-ui/index.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/element-ui/index.js"></script>
    <title>主持人_详情</title>
</head>

<body>
<div>
    <!-- 顶部导航布局开始 -->

    <div class="nav_login">
        <div class="juzhong">
            <p>趣学旅程主持人欢迎您！ 客服：13212344321</p>
            <p class="p_login"><a href="#"> 登录 | 注册</a></p>
        </div>
    </div>
    <div class="nav_logo">
        <div class="juzhong">
            <img src="../img/logo.png" alt="">
        </div>
    </div>
    <div class="nav_img">
        <img src="../img/主持人_-_筛选列表_02.jpg" alt="">
    </div>
    <div class="nav_label">
        <div class="juzhong">
            <ui>
                <li><a href="#">首页</a></li>
                <li class='active'><a href="#">主持人</a></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">关于我们</a></li>
            </ui>
        </div>
    </div>
</div>
<!-- 顶部导航布局结束 -->
<!-- 中间部分开始 -->
<div class='content'>
    <div class="warp">
        <div class="details_box">
            <!-- 今日推荐开始 -->
            <div class='details_left'>
                <div class='recommend'>
                    <div class='recommend_left'></div>
                    <div class='recommend_right'>今日推荐</div>
                </div>
                <ul class='details_left_info'>
                    <li><a href="#">
                        <img src="../img/pic_left_01.png" alt="">
                        <div class='star'>
                            <img src="../img/star01.png" alt="">
                        </div>
                        <p class='anchor_price'>
                            <span class='anchor_price_left'>张俊</span>
                            <span class='anchor_price_right'>主持人价格：4000元</span>
                        </p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/pic_left_02.png" alt="">
                        <div class='star'>
                            <img src="../img/star01.png" alt="">
                        </div>
                        <p class='anchor_price'>
                            <span class='anchor_price_left'>张俊</span>
                            <span class='anchor_price_right'>主持人价格：4000元</span>
                        </p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/pic_left_03.png" alt="">
                        <div class='star'>
                            <img src="../img/star01.png" alt="">
                        </div>
                        <p class='anchor_price'>
                            <span class='anchor_price_left'>张俊</span>
                            <span class='anchor_price_right'>主持人价格：4000元</span>
                        </p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/pic_left_04.png" alt="">
                        <div class='star'>
                            <img src="../img/star01.png" alt="">
                        </div>
                        <p class='anchor_price'>
                            <span class='anchor_price_left'>张俊</span>
                            <span class='anchor_price_right'>主持人价格：4000元</span>
                        </p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/pic_left_05.png" alt="">
                        <div class='star'>
                            <img src="../img/star01.png" alt="">
                        </div>
                        <p class='anchor_price'>
                            <span class='anchor_price_left'>张俊</span>
                            <span class='anchor_price_right'>主持人价格：4000元</span>
                        </p>
                    </a></li>
                    <li><a href="#">
                        <img src="../img/pic_left_06.png" alt="">
                        <div class='star_zhe'>
                            <img src="../img/8zhe.png" alt="">
                        </div>
                        <p class='anchor_price'>
                            <span class='anchor_price_left'>张俊</span>
                            <span class='anchor_price_right'>主持人价格：4000元</span>
                        </p>
                    </a></li>

                </ul>
            </div>
            <!-- 今日推荐结束 -->
            <!-- 主持人介绍开始 -->
            <div class="details_right">
                <div class='introduce_title'>
                    <div class='title_img_box'>
                        <img src="../img/pic_right_01.png" alt="">
                        <div class='title_img'>
                            <img src="../img/pic_right_02.png" alt="">
                        </div>
                    </div>
                </div>
                <div class='details_right_info' id="app">
                    <!-- 介绍 -->
                    <div class='jieshao'>
                        <div class='jieshao_img'>
                            <img v-bind:src='host.image' alt="图片加载失败">
                        </div>
                        <div class='jiashao_text'>
                            <div class='jieshao_title'>
                                <h2>{{host.hname}}</h2>
                                <p>服务价格：{{host.hprice}}元</p>
                            </div>
                        </div>
                        <div class='jieshao_info'>
                            <p><span>年龄：</span>24</p>
                            <p><span>身高：</span>170cm</p>
                            <p><span>体重：</span>74KG</p>
                            <p><span>备注：</span>下北泽高等学校内-114元，下北泽高等学校外+514元，下北泽外+1919810元</p>
                        </div>
                        <button><a href="javascript:void(0)" v-on:click="dialogFormVisible=true">立即下单</a></button>
                    </div>
                    <template>
                        <el-dialog title="下单" :visible.sync="dialogFormVisible">
                            <el-form :model="addOrderList">
                                <el-form-item label="主持人名称" :label-width="formLabelWidth">
                                    <el-input v-model="addOrderList.host.hname" autocomplete="off"
                                              disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item label="主持人电话" :label-width="formLabelWidth">
                                    <el-input v-model="addOrderList.host.hphone" autocomplete="off"
                                              disabled="true"></el-input>
                                </el-form-item>
                                <el-form-item label="主持人价格" :label-width="formLabelWidth">
                                    <el-input v-model="addOrderList.host.hprice" autocomplete="off"
                                              disabled="true"></el-input>
                                </el-form-item>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                                <el-button type="primary" v-on:click="addOrder">确 定</el-button>
                            </div>
                        </el-dialog>
                    </template>

                    <!-- 视频样片 -->
                    <div class='video'>
                        <div class="title">
                            <p class="title_left"></p>
                            <p class='title_right'>视频样片</p>
                        </div>
                        <div class='movie'>
                            <div>视频1："珍爱一生" 西式婚礼</div>
                            <div>视频1："珍爱一生" 西式婚礼</div>
                            <div>视频1："珍爱一生" 西式婚礼</div>
                        </div>
                    </div>
                    <!-- 个人介绍 -->
                    <div class='brief'>
                        <div class="title">
                            <p class="title_left"></p>
                            <p class='title_right'>个人简介</p>
                        </div>
                        <div class='brief_info'>
                            <p class='brief_info_top'>
                                主持人洪明，从业多年，经验丰富，主持风格庄重、浪漫、喜气、幽默，擅长主持西式婚礼、时尚主题婚礼、传统中式婚礼，
                                公司年会庆典、商演活动、产品发布会，有着丰富的主持经验。
                            </p>
                            <p>
                                备注: <span>【只承接双休日和法定节假日的主持定单】</span>
                            </p>
                            <div class='brief_img'>
                                <img src="../img/pic_right_04.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 主持人介绍结束 -->
        </div>
    </div>
</div>
<!-- 中间部分结束 -->
<!-- 底部开始 -->
<div class='footer'>
    <div class='footer_warp'>
        <div class='footer_left'>
            <p class='footer_left_top'>联系我们</p>
            <p class='footer_left_content'>公司地址：广州市天河区迎龙路X区999号码</p>
            <p class='footer_left_bottom'>copyright©2016-2019 版权归趣学旅程主持人所有 </p>
        </div>
        <div class='footer_right'>
            <div class='QR_left'>
                <img src="../img/QR_04.png" alt="">
                <div class='QR_left_img'>
                    <img src="../img/QR_03.png" alt="">
                </div>
                <p>官方服务号</p>
            </div>
            <div class='QR_left'>
                <img src="../img/QR_02.png" alt="">
                <div class='QR_left_img'>
                    <img src="../img/QR_01.png" alt="">
                </div>
                <p>官方服务号</p>
            </div>
        </div>
    </div>
</div>
<!-- 底部结束 -->
<!-- 固定定位导航布局开始 -->
<div class="QR_right">
    <div class='QR_right_top'>
        <!-- <img src="img/QR_small.png" alt=""> -->
        <img src="../img/QR_small.png" alt="">
        <div class='QR_box'>
            <div class='QR_box_content'>
                <img src="../img/QR_right.png" alt="">
                <p class='QR_box_content_font'>关注官方二维码接受订单通知</p>
            </div>
            <div class='QR_box_triangle'>
                <img src="../img/sanjiao.png" alt="">
            </div>
        </div>
    </div>
    <a href="#">
        <div class='QR_right_bottom'>
            <img src="../img/jiantou.png" alt="">
        </div>
    </a>
</div>
<!-- 固定定位导航布局结束 -->
<!-- 右边二维码开始 -->
<div class="QR_right">
    <div class='QR_right_top'>
        <img src="../img/QR_small.png" alt="">
        <div class='QR_box'>
            <div class='QR_box_content'>
                <img src="../img/QR_right.png" alt="">
                <p class='QR_box_content_font'>关注官方二维码接受订单通知</p>
            </div>
            <div class='QR_box_triangle'>
                <img src="../img/sanjiao.png" alt="">
            </div>
        </div>
    </div>
    <div class='QR_right_bottom'>
        <img src="../img/jiantou.png" alt="">
    </div>
</div>
<!-- 右边二维码结束 -->

</body>
<script src="../js/jquery-1.12.3.min.js"></script>
<script>
    let vue = new Vue({
        el: '#app',
        data: {
            hid: '',
            host: {},
            dialogFormVisible: false,
            formLabelWidth: '120px',
            addOrderList: {
                host: {},
                customer: {
                    cid: 1,
                    pid: '',
                    wedding_time: '',
                    hotelname: '',
                    hoteladdress: '',
                    wedding_split: '',
                    deposit: 1000,
                    money: ''
                },
                comment: ''
            },
        },
        mounted() {
            onload = function () {
                let url = location.search; //获取url中"?"符后的字串
                let theRequest = {};
                if (url.indexOf("?") != -1) {
                    vue.hid = url.substring(url.length - 1);
                }
                vue.displayData()
            }

        },
        methods: {
            displayData() {
                axios.post("/front/host/viewHostByHid.do?hid=" + this.hid).then(function (response) {
                    if (response.data.code == 200) {
                        vue.host = response.data.data
                        vue.addOrderList.host = response.data.data
                        console.log(vue.host)
                    } else {
                        console.log(response.data.msg)
                    }
                })
            },
            addOrder() {
                console.log(this.addOrderList)
            }
        }


    })


    // 导航点击事件
    $(".nav_label li").click(function () {
        $(this).siblings('li').removeClass('active');
        $(this).addClass('active');
    })
</script>
</html>
