<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menuManage</title>
    <link rel="stylesheet" href="/js/element-ui/index.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/element-ui/index.js"></script>
</head>
<body>
<div id="app">
    <template>
        <el-button type="primary" type="text" v-on:click="dialogFormVisible = true">新增</el-button>
        <!--        <el-button type="danger" v-on:click="batchDelete()">批量删除</el-button>-->
        <el-table
                :data="roleMenu"
                stripe
                style="width: 100%;margin-bottom: 20px;"
                row-key="id"
                border
                :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
            <el-table-column
                    prop="id"
                    label="菜单id"
                    sortable
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="label"
                    label="菜单名称"
                    sortable
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="mdesc"
                    label="菜单描述"
                    sortable
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="url"
                    label="菜单url"
                    sortable
                    width="400">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            v-on:click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            v-on:click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog title="修改菜单信息" :visible.sync="dialogUpdateFormVisible">
            <el-form :model="editMenu">
                <el-form-item label="菜单名称" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.menuName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单描述" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.mdesc" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单url" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="父菜单id" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.parentId" autocomplete="off"></el-input>
                </el-form-item>


            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogUpdateFormVisible = false">取 消</el-button>
                <el-button type="primary" v-on:click="submitEdit">确 定</el-button>
            </div>
        </el-dialog>

        <el-dialog title="新增菜单" :visible.sync="dialogFormVisible">
            <el-form :model="addMenuList">
                <el-form-item label="菜单Id" :label-width="formLabelWidth">
                    <el-input v-model="addMenuList.menuId" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单名称" :label-width="formLabelWidth">
                    <el-input v-model="addMenuList.menuName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单描述" :label-width="formLabelWidth">
                    <el-input v-model="addMenuList.mdesc" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单url" :label-width="formLabelWidth">
                    <el-input v-model="addMenuList.url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="父菜单id" :label-width="formLabelWidth">
                    <el-input v-model="addMenuList.parentId" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" v-on:click="addMenu">确 定</el-button>
            </div>
        </el-dialog>

    </template>
</div>


<script>
    let vue = new Vue({
        el: "#app",
        data: {
            dialogUpdateFormVisible: false,
            dialogFormVisible: false,
            roleList: [],
            formLabelWidth: '120px',

            editMenu: {
                menuId: '',
                menuName: '',
                parentId: '',
                url: '',
                mdesc: '',
                children: []
            },
            addMenuList: {
                menuId: '',
                menuName: '',
                parentId: '',
                url: '',
                mdesc: '',
            },

            roleMenu: [],
            selectedNode: [],
            defaultProps: {
                children: 'children',
                label: 'label'
            },
            delMenuList: {
                menuId: '',
                parentId: '',
            }

        },
        mounted() {
            this.displayData();

        },
        methods: {
            displayData() {
                axios.get("/backStage/showBackStageMenu.do").then(function (response) {
                    vue.roleMenu = []
                    vue.roleMenu = response.data.data
                    console.log(vue.roleMenu)
                })
                // this.editRole.selectedNode = []
                this.selectedNode = []
            },

            handleEdit(index, row) {
                this.editMenu.url = ''
                this.selectedNode = (index, row);
                this.editMenu.menuId = this.selectedNode.id;
                this.editMenu.menuName = this.selectedNode.label;
                this.editMenu.mdesc = this.selectedNode.mdesc;
                if (this.selectedNode.children.length == 0) {//子菜单
                    this.editMenu.url = this.selectedNode.url;
                    this.editMenu.parentId = this.selectedNode.parentId
                } else {
                    this.editMenu.parentId = 0;
                    this.editMenu.children = this.selectedNode.children;
                }
                this.dialogUpdateFormVisible = true;

            },
            submitEdit() {
                axios.post("/backStage/editBackStageMenu.do", vue.editMenu).then(function (response) {
                    if (response.data.code == 200) {
                        alert("修改成功")
                        vue.displayData()
                        vue.dialogUpdateFormVisible = false;
                    }
                })
            },
            addMenu() {
                axios.post("/backStage/addBackStageMenu.do", vue.addMenuList).then(function (response) {
                    if (response.data.code == 200) {
                        alert("新增菜单成功")
                        vue.displayData()
                        vue.dialogFormVisible = false;
                        vue.addMenuList.menuName = '';
                        vue.addMenuList.menuId = '';
                        vue.addMenuList.parentId = '';
                        vue.addMenuList.mdesc = '';
                        vue.addMenuList.url = '';
                    }
                })
            },


            handleDelete(index, row) {
                console.log((index, row))
                this.delMenuList.menuId = ((index, row).id)
                this.delMenuList.parentId = ((index, row).parentId)

                this.$confirm('确定要删除这些数据吗，删除以后不可恢复?', '温馨提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(
                    () => {
                        axios.post("/backStage/delBackStageMenu.do", vue.delMenuList).then(function (response) {
                            if (response.data.code == 200) {
                                alert("删除菜单成功")
                                vue.displayData()
                            } else {
                                alert(response.data.msg)
                            }
                        })
                    }
                )
            },

        },


    })
</script>

</body>
</html>