<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menuManage</title>
    <link rel="stylesheet" href="/js/element-ui/index.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/element-ui/index.js"></script>
</head>
<body>
<div id="app">
    <template>
        <el-table
                :data="roleMenu"
                stripe
                style="width: 100%;margin-bottom: 20px;"
                row-key="id"
                border
                :tree-props="{children: 'children', hasChildren: 'hasChildren'}">
            <el-table-column
                    prop="id"
                    label="菜单id"
                    sortable
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="label"
                    label="菜单名称"
                    sortable
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="mdesc"
                    label="菜单描述"
                    sortable
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="url"
                    label="菜单url"
                    sortable
                    width="400">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            v-on:click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            v-on:click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-dialog title="修改菜单信息" :visible.sync="dialogUpdateFormVisible">
            <el-form :model="editMenu">
                <el-form-item label="菜单名称" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.menuName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单描述" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.mdesc" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="菜单url" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.url" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="父菜单id" :label-width="formLabelWidth">
                    <el-input v-model="editMenu.parentId" autocomplete="off"></el-input>
                </el-form-item>


            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogUpdateFormVisible = false">取 消</el-button>
                <el-button type="primary" v-on:click="submitEdit">确 定</el-button>
            </div>
        </el-dialog>

    </template>
</div>


<script>
    let vue = new Vue({
        el: "#app",
        data: {
            dialogUpdateFormVisible:false,

            roleList: [],
            formLabelWidth: '120px',

            editMenu: {
                menuId: '',
                menuName: '',
                parentId: '',
                url:'',
                mdesc: '',
                children: []
            },
            addRoleList: {
                rname: '',
                rdesc: '',
            },

            roleMenu: [],
            selectedNode: [],
            defaultProps: {
                children: 'children',
                label: 'label'
            }

        },
        mounted() {
            this.displayData();

        },
        methods: {
            displayData() {
                axios.get("/backStage/showBackStageMenu.do").then(function (response) {
                    vue.roleMenu = []
                    vue.roleMenu = response.data.data
                    console.log(vue.roleMenu)
                })
                // this.editRole.selectedNode = []
                this.selectedNode = []
            },

            handleEdit(index, row) {
                this.editMenu.url=''
                this.selectedNode = (index, row);

                this.editMenu.menuId=this.selectedNode.id;
                this.editMenu.menuName=this.selectedNode.label;
                this.editMenu.mdesc=this.selectedNode.mdesc;
                if (this.selectedNode.children.length==0){//子菜单
                    this.editMenu.url=this.selectedNode.url;
                    this.editMenu.parentId=this.selectedNode.parentId
                }else {
                    this.editMenu.parentId=0;
                    this.editMenu.children=this.selectedNode.children;
                }
                this.dialogUpdateFormVisible=true;

            },
            submitEdit(){
                axios.post("/backStage/editBackStageMenu.do",vue.editMenu).then(function (response){
                    if (response.data.code==200){
                        this.dialogUpdateFormVisible=false;
                        alert("修改成功")
                    }
                })
            },
            handleDelete(index,row){},

        },


    })
</script>

</body>
</html>