<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>roleManage</title>
    <link rel="stylesheet" href="/js/element-ui/index.css">
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/element-ui/index.js"></script>
</head>
<body>
<div id="app">
    <template>
        <!--搜索表单-->
        <el-form :inline="true" :model="roleSearch" class="demo-form-inline">
            <el-form-item label="角色名称">
                <el-input v-model="roleSearch.rname" placeholder="用户名称"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="onSearch()">查询</el-button>
            </el-form-item>
        </el-form>


        <el-button type="primary" type="text" v-on:click="dialogFormVisible = true">新增</el-button>
        <el-button type="danger" v-on:click="batchDelete()">批量删除</el-button>
        <el-table
                :data="roleList"
                style="width: 100%"
                v-on:selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="rid"
                    label="角色id"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="rname"
                    label="角色名称"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="rdesc"
                    label="角色描述"
                    width="300">
            </el-table-column>
            <el-table-column
                    prop="status"
                    label="状态   "
                    width="200">
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            v-on:click="handleEdit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            v-on:click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>


        <el-dialog title="修改角色信息" :visible.sync="dialogUpdateFormVisible">
            <el-form :model="editRole">
                <el-form-item label="角色名称" :label-width="formLabelWidth">
                    <el-input v-model="editRole.rname" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="角色描述" :label-width="formLabelWidth">
                    <el-input v-model="editRole.rdesc" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <el-container>
                <el-tree
                        :data="roleMenu"
                        show-checkbox
                        default-expand-all
                        ref="tree"
                        node-key="id"
                        :default-checked-keys="selectedNode"

                        highlight-current
                        :props="defaultProps">
                </el-tree>

            </el-container>

            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogUpdateFormVisible = false">取 消</el-button>
                <el-button type="primary" v-on:click="submitEdit">确 定</el-button>
            </div>
        </el-dialog>


        <el-dialog title="新增用户" :visible.sync="dialogFormVisible">
            <el-form :model="addRoleList">
                <el-form-item label="用户名称" :label-width="formLabelWidth">
                    <el-input v-model="addRoleList.rname" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="角色描述" :label-width="formLabelWidth">
                    <el-input v-model="addRoleList.rdesc" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button v-on:click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" v-on:click="addRole">确 定</el-button>
            </div>
        </el-dialog>

    </template>
</div>


<script>
    let vue = new Vue({
        el: "#app",
        data: {
            roleList: [],
            dialogUpdateFormVisible: false,
            dialogFormVisible: false,
            formLabelWidth: '120px',

            editRole: {
                rid: '',
                rname: '',
                rdesc: '',
                selectedNode: []
            },
            addRoleList: {
                rname: '',
                rdesc: '',
            },
            roleSearch: {
                rname: ''
            },

            roleMenu: [],
            selectedNode: [],
            defaultProps: {
                children: 'children',
                label: 'label'
            }

        },
        mounted() {
            this.displayData();
            axios.get("/backStage/showBackStageMenu.do").then(function (response) {
                vue.roleMenu = []
                vue.roleMenu = response.data.data
                // console.log(vue.roleMenu)
            })
        },
        methods: {


            displayData() {
                this.editRole.selectedNode = []
                this.selectedNode = []
                axios.post("/backStage/role/showRole.do").then(function (response) {
                    console.log(response)
                    vue.roleList = response.data.data;
                    vue.roleStatus = vue.roleList;
                })
            },

            addRole() {
                axios.post("/backStage/role/addRole.do", vue.addRoleList).then(function (response) {
                    console.log(response)
                })
                vue.addRoleList.rname = '';
                vue.addRoleList.rdesc = '';
                vue.displayData();
            },

            handleEdit(index, row) {
                vue.selectedNode = []
                vue.dialogUpdateFormVisible = true
                console.log(index, row)
                this.editRole.rname = (index, row).rname;
                this.editRole.rdesc = (index, row).rdesc;
                this.editRole.rid = (index, row).rid;
                this.getMenuIdByRole();
                this.$refs.tree.setCheckedKeys(this.selectedNode, true)
            },
            getMenuIdByRole() {
                axios.get("/backStage/role/showMenuIdByRole.do?rid=" + vue.editRole.rid).then(function (response) {
                    vue.selectedNode = response.data.data;
                    console.log(vue.selectedNode)
                })
            },
            scalarArrayEquals(array1, array2) {
                return array1.length == array2.length && array1.every(function (v, i) {
                    return v === array2[i]
                });
            },
            submitEdit() {
                let nodes = this.$refs.tree.getCheckedNodes()
                let i = 0;
                vue.editRole.selectedNode = []
                console.log("nodes=", nodes)
                for (const node of nodes) {
                    vue.editRole.selectedNode[i++] = node.id
                }

                console.log("=============")
                console.log("vue.editRole.selectedNode=", vue.editRole.selectedNode)
                console.log("vue.selectedNode=", vue.selectedNode)
                let flag = this.scalarArrayEquals(vue.editRole.selectedNode, vue.selectedNode)
                if (flag) {
                    console.log("没改")
                } else {
                    console.log("改了")
                }

                axios.post("/backStage/role/editRole.do", vue.editRole).then(function (response) {
                    if (response.data.code == 200) {
                        vue.dialogUpdateFormVisible = false;
                        alert("修改角色信息成功");
                        vue.editRole.rname = ''
                        vue.editRole.rdesc = ''
                        vue.displayData();
                    } else {
                        alert(response.data.msg)
                    }
                })
            },
            handleDelete(index, row) {
                console.log("rid=" + (index , row).rid)
                let rid = (index, row).rid;
                this.$confirm('确定要删除此数据吗，删除以后不可恢复?', '温馨提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                        axios.get("/backStage/role/delRole.do?rid=" + rid).then(function (response) {
                            if (response.data.code == 200) {
                                alert("删除角色成功")
                                vue.displayData();
                            } else {
                                alert(response.data.msg)
                            }
                        })
                    }
                )
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
                console.log(this.multipleSelection)
            },
            onSearch() {
                axios.post("/backStage/role/showRoleByCondition.do", vue.roleSearch).then(function (response) {
                    if (response.data.code == 200) {
                        vue.roleList = response.data.data;
                        vue.roleSearch.rname = '';
                    } else {
                        alert(response.data.msg)
                    }
                })
            },

            batchDelete() {
                console.log(this.multipleSelection)
                let roleIds = []
                let i = 0
                for (const item of this.multipleSelection) {
                    roleIds[i++] = item.id
                }
                console.log(roleIds)
                this.$confirm('确定要删除这些数据吗，删除以后不可恢复?', '温馨提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.post("/backStage/user/batchDel.do", roleIds).then(function (response) {
                        if (response.data.code == 200) {
                            alert("批量删除用户成功")
                            vue.displayData();
                        } else {
                            alert(response.data.msg)
                        }
                    })
                })
            },

        }

    })

</script>
</body>
</html>