<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--命名空间必须是对应接口的全限定名-->
<mapper namespace="com.quxue.wedding_host.mapper.RoleMapper">

    <select id="selectMenuIdByRole">
        select mt.mid menuId, mname menuName, url, pid parentId, mdesc
        from t_role_menu rmt
                 join t_menu mt on mt.mid = rmt.mid
            ${ew.customSqlSegment}

    </select>

    <select id="queryUsageBeforeDel">
        select aname, at.rid
        from t_role rt
                 join t_admin at on rt.rid = at.rid
        where rt.rid = #{rid};
    </select>

    <select id="queryRid">
        select mid
        from t_role_menu ${ew.customSqlSegment}
    </select>

    <delete id="delRoleMenu">
        delete
        from t_role_menu
        where rid = #{rid}
    </delete>

    <insert id="insertRoleMenu">
        insert into t_role_menu values
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{rid},#{menuId})
        </foreach>
    </insert>


</mapper>